<link rel="stylesheet" href="/artModal-master/demo/demo.css">
<link rel="stylesheet" href="/artModal-master/src/artModal.css">
<script src="/artModal-master/src/artModal.js"></script>
<link rel="stylesheet" type="text/css" href="/verify-master/css/verify.css">
<script type="text/javascript" src="/verify-master/js/jquery.min.js" ></script>
<script type="text/javascript" src="/verify-master/js/verify.js" ></script>
<script type="text/javascript" src="/md5.min.js" ></script>

<script>

    var accesscode="{{site.accesscode}}";
    $(function(){
    var myModal_1_obj = artModal({  //构建artModal实例
            element: document.getElementById('secretdialog'),
            open: function () {

$('#vericode').pointsVerify({
          defaultNum : 4, //默认的文字数量
          checkNum : 2, //校对的文字数量
          vSpace : 5, //间隔
          imgName : ['1.jpg', '2.jpg','3.jpg'],
          imgSize : {
              width: '320px',
              height: '200px',
            },
            barSize : {
              width : '320px',
              height : '40px',
            },
            ready : function() {
          },
            success : function() {
              var yqcodeValue=$("#yqcode").val();
                    if(yqcodeValue == null || yqcodeValue == "" || yqcodeValue == "undefined" || yqcodeValue == undefined || yqcodeValue == "null"){
                        $("#errtip").html("访问密码不能为空");
                    }else if(md5(yqcodeValue)!=accesscode){
                        $("#errtip").html("访问密码不正确");
                    }else{
                        myModal_1_obj.close();  //关闭
                    }
            },
            error : function() {
                    var yqcodeValue=$("#yqcode").val();
                    if(yqcodeValue == null || yqcodeValue == "" || yqcodeValue == "undefined" || yqcodeValue == undefined || yqcodeValue == "null"){
                      $("#errtip").html("访问密码不能为空");

                    }else if(md5(yqcodeValue)!=accesscode){
                        $("#errtip").html("访问密码不正确");
                    }else{ 
                      $("#errtip").html("验证码不匹配");
                    }
            }
            
        });

            },
            position: 'top'
        });
        myModal_1_obj.open();  //显示
    });
  
</script>

<div class="artModal fade" id="secretdialog" >
    <div class="artModal-dialog">
        <div class="artModal-content">
            <div class="custom_style">
                请输入访问密码和运算验证码
               <div>
                <input id="yqcode" placeholder="请输入访问密码"/>
                </div>
                
                <div id="vericode" style="margin-top:50px;">
                </div>
                <span id="errtip" style="color:red"></span>
                
                
            </div>
        </div>
    </div>
</div>