<link href="/greedynav/greedynav.css" rel="stylesheet" type="text/css" >
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/greedynav/greedynav.js"></script>

<header id="top">
    <nav id="headerNav" class='greedy'>
        <h1 ><a href="{{ site.baseurl }}/" style="color:#ffffff;font-size:0.8em;z-index:99">{{ site.title }}</a>
            &nbsp;&nbsp;
         <a href="{{ site.baseurl }}/resumethree" style="color:#ffffff ;font-size:0.5em;z-index:99"> {{site.brief-intro}}</a>
         </h1>
         <h2>

         </h2>
        
         
      <ul class='links' style="list-style:none">
        
       
        {% for my_page in site.pages %}
                    {% if my_page.type == 'page' %}
                    
                        {% if my_page.url == page.url %}
                        <li style="background:#b2666a">
                            <a  href="{{ my_page.url | prepend: site.baseurl }}">
                             <i class="fa fa-{{my_page.icon}}"></i>{{ my_page.title }}
                             </a>
                        </li>
                            {% else %}
                        <li>
                            <a href="{{ my_page.url | prepend: site.baseurl }}">
                            <i class="fa fa-{{my_page.icon}}"></i>{{ my_page.title }}
                            </a>
                        </li>
                        {% endif %}
                        
                    
                    {% endif %}
                {% endfor %}
      </ul>
      <button id="headerMenu" class="menu" style="background:#68899f;color:#ffffff"><i class="fa fa-bars" ></i></button>
      <ul class='hidden-links hidden'></ul>
    </nav>

</header>
